FileETag none
RewriteEngine On
Options -Indexes

AddDefaultCharset utf-8
<IfModule mod_charset.c>
   CharsetRecodeMultipartForms Off
   CharsetSourceEnc utf-8
</IfModule>

RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php